*{padding:0px;
margin:0px;
}
body{
height:2000px;
background-color: #404040;
}
#header_nav_wrap{
position:fixed;	
width:100%;
z-index:10;
min-width: 50em;
}
header{
background-color:#3399FF;
width:100%;
color:#404040;

}
#heading{
width:40%;
font-size:3em;
color:white;
background-color: #404040;
padding:30px 30px 30px ;

}

nav ul{
list-style-type: none;
width:100% ;
background-color:#F5F5F5;
font-style:oblique;

}
nav li {

color:white;
display: inline-block;
padding: 14px 16px;
}
 nav li a{
 padding: 14px 16px;
 }
nav a:link {color:#404040;background-color:;text-decoration:none;}
nav a:visited {color:#404040;background-color:;text-decoration:none;}
nav a:hover {color:#FFFFFF;background-color:#404040;text-decoration:none;}
nav a:active {color:#FFFFFF;background-color:#404040;text-decoration:none;}

.hero-image {
    /* The image used */
    background:url(../img/beach.jpg);
    height: 35%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Place text in the middle of the image */
.hero-text {
	font-family:sans-serif;
    text-align: center;
    position: absolute;
    top: 42%;
    left: 0%;
    color:#404040;
}